html,body{

    background: url("Images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 99vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    position:relative;
    z-index:-1;
}

table,td,th {

    border-collapse:collapse;
}

table {
    
    width:56vw;
    border:3px solid black;
}

td {
  border: 2px solid black;
  background: rgb(129, 139, 197);
}

th {
    border: 2px solid black;
    background: rgb(89, 89, 247);
  }

header {
    background-color: rgba(121, 209, 224, 0.658);
    padding:0.5vw;
    border-radius: 0.3vw;
    display:block;
    margin:1vw;
    margin-bottom:1vw;
}

header h1 {

    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
}

main{
    background-color: rgba(194, 152, 152, 0.658);
    padding:1vw;
    border-radius: 0.3vw;
    display:block;
    margin:1vw;
    margin-bottom:10vw;
}

.page {

    z-index: -1;
    right:20vw;
    left:20vw;
    position:absolute;
    width:60vw;
    min-height: 100vh;
    height: auto;
    margin: auto;
    background: rgb(110, 122, 109);
    background-size:cover;
    border-right: 0.3vw solid rgb(75, 74, 74);
    border-left: 0.3vw solid rgb(75, 74, 74);
}

main p {

    font-size: 1.3vw;

}

main h1 {

    font-size: 2.2vw;
    font-weight: bold;

}

main h2 {

    font-size: 1.65vw;
    font-weight: bold;

}

main h3 {

    font-size: 1.3vw;
    font-weight: bold;
    font-style: italic;

}

main img {
    height: 5vw;
    width:auto;
    padding: 0.1vw;
    margin: 0.1vw;
    align-items: center;

}

.img {
    text-align: center;
}

.Echec1{
    height: 15vw;
    width:auto;
}

.EchecPE{
    height: 15vw;
    width:auto;
}

#Mahjong{
    height: 5vw;
    width:auto;
}

#Mahjong2{
    height: 5vw;
    width:auto;
}

.Mains {
    height: auto;
    width:100%;
}



main ul {

    position:relative;
    left:1vw;
    font-size: 1.3vw;
    margin:1vw;
}

main ol {

    position:relative;
    left:1vw;
    font-size: 1.3vw;
    margin:1vw;

}

main li{

    position:relative;
    left:1vw;
    font-size: 1.3vw;
    margin:1vw;

}

main article {

    margin: 0.1vw;
    padding: 0.4vw;
    border-top:0.1vw solid black;

}

.pied {
    display:block;
    position:absolute;
    bottom:0vw;
    left:-0.3vw;
    height:8vw;
    width:60vw;
    background-color: rgba(92, 90, 90, 0.712);
    border-top: 1vw solid black;
    border-right: 0.3vw solid black;
    border-left: 0.4vw solid black;
    border-radius:0.3vw;
    text-align:center;
    font-size: 1.3vw;
}

.navbtn {
    position: absolute;
    top:0;
    background-color: #424242;
    color: white;
    padding: 2vw;
    font-size: 1vw;
    border: none;
    border-radius:0.3vw;
    width: 4vw;
    height: 4vw;

}

.navbtn img {

    position:absolute;
    top:1vw;
    left:1vw;
    width:2vw;

}

.nav {
    position: fixed;
    top:0vw;
    height: 4vw;
    width: 4vw;
}

.nav-content {
    display: none;
    position: absolute;
    top: 0vw;
    left: 4vw;
    height: 4vw;
    z-index: 1;
    align-items: center;
}

.nav-content a {
    color: white;
    font-weight: bold;
    height: 4vw;
    font-size:0.9vw;
    padding-top: 50%;
    padding: 0 1.5em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.nav-content a:hover {

    color: rgb(9, 199, 9);
    border-bottom: 0.2vw solid rgb(9, 199, 9);
    border-left: 0.1vw solid rgba(19, 18, 18, 0.76);
    border-right: 0.1vw solid rgba(19, 18, 18, 0.76);

}

.nav:hover .nav-content {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
}

.nav:hover {

    width:100vw;
    background-color: #1d1c1cc7;

}

.nav:hover .navbtn {
    background-color: #25242400;
    width:4vw;
    height:4vw;
}
