html,body{
    background-image: url("Images/background.png");
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    position:relative;
    z-index:-1;
}   

main{
    background-color: rgba(194, 152, 152, 0.658);
    padding:8px;
    border-radius: 15px;
    display:block;
    margin:10px;
    margin-bottom:95px;
}

.page {

    z-index: -1;
    right:20%;
    left:20%;
    position:absolute;
    width:60%;
    min-height: 100%;
    height: auto;
    margin: auto;
    background: rgb(110, 122, 109);
    background-size:cover;
    border-right: 5px solid rgb(75, 74, 74);
    border-left: 5px solid rgb(75, 74, 74);
}

main img {

    width: 30%;
    padding: 3px;
    margin: 3px;
    align-items: center;

}

.pied {
    display:block;
    position:absolute;
    bottom:0px;
    height:90px;
    width:100%;
    background-color: rgb(41, 41, 41);
}

.navbtn {

    background-color: #424242;
    color: white;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    border-radius:1vw;
    width: 4vw;
    height: 4vw;

}

.navbtn img {
    
    width:2vw;

}

.nav {
    position: fixed;
    top:0vw;
    height: 4vw;
    width: 4vw;
}

.nav-content {
    display: none;
    position: absolute;
    top: 0vw;
    left: 4vw;
    height: 4vw;
    z-index: 1;
    align-items: center;
}
  
.nav-content a {
    color: white;
    font-weight: bold;
    height: 4vw;
    font-size:0.9vw;
    padding-top: 50%;
    padding: 0 1.5em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
  
.nav-content a:hover {
    
    color: rgb(9, 199, 9);
    border-bottom: 0.2vw solid rgb(9, 199, 9);
    border-left: 0.1vw solid rgba(19, 18, 18, 0.76);
    border-right: 0.1vw solid rgba(19, 18, 18, 0.76);

}
  
.nav:hover .nav-content {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
}

.nav:hover {

    width:100vw;
    background-color: #1d1c1cc7;

}

.nav:hover .navbtn {
    background-color: #25242400;
    width:4vw;
    height:4vw;
}


